.pos-abs-btm {
    position: absolute;
    bottom: 0;
}

@mixin vertical-align($position: absolute) {
  position: $position;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.align-v {
    @include vertical-align();
}